<div>
  <ul *ngFor="let word of listWord">
    <li><a [routerLink]="word.key">{{ word.key }}</a></li>
  </ul>
  <app-dictionary-search></app-dictionary-search>
  <router-outlet></router-outlet>
</div>
