<div class="gallery-container">
  <div class="gallery-item" *ngFor="let img of imageService.images"
       [style.max-width.%]="itemWidth" [style.flex-basis.%]="itemWidth">
    <app-card [src]="img"></app-card>
  </div>
</div>
