<!--The content below is only a placeholder and can be replaced.-->
<a [routerLink]="'/image-slide'">Image slide</a> |
<a [routerLink]="'/dictionary'">Dictionary</a> |
<a [routerLink]="'/gallery'">Gallery</a> |
<a [routerLink]="'/youtube'">Youtube</a> |
<a [routerLink]="'/live-counter'">Live Counter</a>
<router-outlet></router-outlet>

