<div class="slider-container">
  <app-img-slide [imageSrc]="src"></app-img-slide>
</div>

<div class="arrow arrow-prev">
  <button class="button" (click)="previous()">Previos</button>
</div>
<div class="arrow arrow-next">
  <button class="button" (click)="next()">Next</button>
</div>
