<h2>{{ song.name }}</h2>
<iframe width="560" height="315"
        [src]="getSrc()"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>
